{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load blog_tags %}
{% block title %} Haystack Search {% endblock title %}

{% block content %}
  {% if query %}
    <h3>Results</h3>
    {% for result in page.object_list %}
      <div>
        <h1><a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a></h1>
        {% category_list result.object.category.all %}
        by <a href="{% url 'by_author' result.object.author.id %}">{{ result.object.author }}</a>
        {{ result.object.created_at }}
        <p>{{ result.object.text }}</p>
        <hr>
      </div>
    {% empty %}
      <p>No results found.</p>
    {% endfor %}

    {% if page.has_previous or page.has_next %}
      <div>
        {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
        |
        {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
      </div>
    {% endif %}
  {% else %}
    {# Show some example queries to run, maybe query syntax, something else? #}
  {% endif %}
{% endblock content %}